.app-main-cont {
    text-align: center;
}
.head-name {
    color: #800000;
}
.title-font {
    font-size: 15px;
}
.borders-ele {
    border-top : 1px solid #DCDCDC;
    padding: 30px;
}
.chart-ele {
    width: 500px;
    /* height: 330px; */
}
.pad-R40 {
    padding-right: 40px;
}
.pad-top10 {
    padding-top: 10px;
}
.mar-top10 {
    margin-top:10px;
}
.mar-top30 {
    margin-top: 30px;
}
.mar-top60 {
    margin-top: 60px;
}
.mar-botm50 {
    margin-bottom: 50px;
}
.chart1-l {
    width:48%;
    float:left;
}
.chart2-r {
    width:48%;
    float:right;
}
.brder-T {
    border-top : 1px solid #DCDCDC;
}
.techlist{
    overflow: auto;
    width: 50%;
    border:1px solid #DCDCDC;
    float:left;
    height:400px;
}
.techlist ul {
    list-style: none;
}
.techlist h3 {
    color: #008989;
}
.techlist li {
    padding-bottom: 13px;
    color: #19355B;
}
.detailBtnContainer {
    width: 40%;
    float:right;
    border:1px solid #DCDCDC;
    height:400px;
}
.btn-cls {
    color: white;
    border: none;
    background: maroon;
    border-radius: 5px;
    padding: 10px;
    width: auto;
    text-shadow: none;
    text-transform: uppercase;
}