<div class="detailscont-chart">
    <span class="title-font">
        <strong>Revenue Trend</strong>
    </span>
    <div class="detail-chart-cont">
        <p-chart type="line" [data]="revenueTrenddata" [options]="options"></p-chart>
    </div>
</div>
<div class="detailcont-dropdown mar-top30">
    <div class="details-L">
        <p-tree [value]="tree.data"></p-tree>
    </div>
    <div class="mar-top30 details-R" id="multiselectDropdownId">
        <ss-multiselect-dropdown [options]="myOptions" [texts]="myTexts" [settings]="mySettings" [(ngModel)]="optionsModel" [disabled]="false"
            class="seletComponent" (ngModelChange)="onItemSelect($event)"></ss-multiselect-dropdown>
    </div>
</div>