<div class="dashboard-container">
  <!--bar with line chart -->
  <div class="chart1-l">
    <span class="title-font">
      <strong>{{dashboardBC}}</strong>
    </span>
    <div class="mar-top30">
      <span class="pad-R40">
        <p-calendar [(ngModel)]="startDvalue" dateFormat="dd-mm-yy" readonlyInput="true" [showIcon]="true" (onSelect)="changeDate($event)"></p-calendar>
      </span>
      <span>
        <p-calendar [(ngModel)]="endDvalue" dateFormat="dd-mm-yy" readonlyInput="true" [showIcon]="true" (onSelect)="changeDate($event)"></p-calendar>
      </span>
    </div>
    <!-- <div class="pad-top10">Number of Orders and Amount of Sales (last year)</div> -->
    <div class="chart-ele mar-top60">
      <p-chart type="bar" [data]="data" [options]="options" (onDataSelect)="selectData($event)"></p-chart>
      <!-- <button type="button" pButton (click)="update($event)">test</button> -->
    </div>
  </div>
  <div class="chart2-r">
    <span class="title-font">
      <strong>{{dasboardLC}}</strong>
    </span>
    <!-- <div class="pad-top10">Number of Orders and Amount of Sales (last year)</div> -->
    <div class="mar-top30">
      <p-dropdown [options]="cities1" [(ngModel)]="selectedCity1" placeholder="Select a City" [filter]="true" (onChange)="selectedTrendByYear($event)"></p-dropdown>
    </div>
    <div class="chart-ele mar-top60">
      <p-chart type="line" [data]="revenueTrenddata" [options]="options"></p-chart>
    </div>
  </div>
  <div class="techlist pad-top10 mar-botm50">
    <h3>Technology List</h3>
    <ul>
      <li *ngFor="let tech of technology">
        <span class="badge">{{tech.id}}</span> {{tech.name}}
      </li>
    </ul>
  </div>
  <div class="detailBtnContainer">
    <div class="mar-top30" align="center">
      <div>Click to view analytical detail</div>
      <div class="mar-top10">
        <button class="btn-cls" routerLink="/detail">View Detail</button>
      </div>
    </div>
  </div>
</div>