<div class="dashboard-container">
  <!--bar with line chart -->
  <div class="chart1-l">
    <span class="title-font">
      <strong>{{dashboardBC}}</strong>
    </span>
    <div class="mar-top30">
        <span class="pad-R40"><p-calendar [(ngModel)]="startDvalue" dateFormat="dd-mm-yy" readonlyInput="true" [showIcon]="true" (onSelect)="changeDate($event)"></p-calendar></span>
        <span><p-calendar [(ngModel)]="endDvalue" dateFormat="dd-mm-yy" readonlyInput="true" [showIcon]="true" (onSelect)="changeDate($event)"></p-calendar></span>
    </div>
    <!-- <div class="pad-top10">Number of Orders and Amount of Sales (last year)</div> -->
    <div class="chart-ele mar-top60">
      <p-chart type="bar" [data]="data" [options]="options" (onDataSelect)="selectData($event)"></p-chart>
      <!-- <button type="button" pButton (click)="update($event)">test</button> -->
    </div>
  </div>
  <div class="chart2-r">
    <span class="title-font">
      <strong>{{dasboardLC}}</strong>
    </span>
    <!-- <div class="pad-top10">Number of Orders and Amount of Sales (last year)</div> -->
    <div class="mar-top30">
      <p-dropdown [options]="cities1" [(ngModel)]="selectedCity1" placeholder="Select a City" [filter]="true" (onChange)="selectedTrendByYear($event)"></p-dropdown>
    </div>
    <div class="chart-ele mar-top60">
      <p-chart type="line" [data]="revenueTrenddata" [options]="options"></p-chart>
    </div>
  </div>
</div>